<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
		<h1 class="title">
		  Welcome to upload, {{ name }}!
		</h1>
		<div class="collapse" id="uploadedMessage">
		<div class="alert alert-success " role="alert" id="uploadedMessageBox">
		  This is a success alert—check it out!
		</div>
		</div>
		<form action="/upload" method="POST" enctype="multipart/form-data">		
		<div class="form-group">
		<div class="input-group">
		  <div class="input-group-prepend">
			<span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
		  </div>
		  <div class="custom-file">
			<input type="file" class="custom-file-input" name="file"  id="inputGroupFile01"
			  aria-describedby="inputGroupFileAddon01">
			<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
		  </div>
		</div>		
		</div>
		<button type="submit" class="btn btn-primary">Upload</button>		
		</form>		
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
	$('#inputGroupFile01').on('change',function(){
		var fileName = $(this).val().split("\\").pop();
		$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	})
	
	$(document).ready(function(){
		function getUrlVars()
		{
			var vars = [], hash;
			var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
			for(var i = 0; i < hashes.length; i++)
			{
				hash = hashes[i].split('=');
				vars.push(hash[0]);
				vars[hash[0]] = hash[1];
			}
			return vars;
		}
		
		qparams = getUrlVars()
		console.log(qparams["uploadedfile"])
		if(qparams["uploadedfile"]){
			$("#uploadedMessageBox").html(decodeURIComponent(qparams["uploadedfile"]) + " is successfully uploaded")
			$("#uploadedMessage").collapse('show')
		}else{
			$("#uploadedMessage").collapse('hide')
		}
	
	});
</script>
{% endblock %}